<html lang="de" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
			xmlns:custom="http://typo3.org/ns/KayStrobach/Custom/ViewHelpers"
			xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers"
			xmlns:b="http://typo3.org/ns/KayStrobach/Backend/ViewHelpers"
			xmlns:cb="http://typo3.org/ns/FourViewture/KIS/CRM/Backend/ViewHelpers"
			xmlns:search="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<b:be.setTitle>Tagesjournal</b:be.setTitle>

<b:be.button.closeButton action="index" controller="Standard"/>
<b:be.button.addButton action="index" controller="SettlementDate" label="Fälligkeiten" icon="bootstrap-clock"/>

	<f:render partial="Visualsearch/Search" arguments="{searchName:'KayStrobach_Invoice_SettlementDate', objects:objects}" contentAs="value">
			<f:if condition="{objects}">
					<f:then>
							<f:widget.paginate objects="{objects}" as="paginatedObjects" configuration="{itemsPerPage: 20, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 15}">
									<small class="pull-right">{objects -> f:count()} Einträge</small>
									<table class="table">
											<thead>
											<tr>
													<th>
															Rechnung
													</th>
													<th>
															Debitor
													</th>
													<th>
															Fälligkeit
													</th>
													<th>
															&nbsp;
													</th>
													<th>
															Betrag
													</th>
													<th>
															&nbsp;
													</th>
											</tr>
											</thead>
											<tbody>
											<f:for each="{paginatedObjects}" as="object">
													<tr class="{f:if(condition:object.paymentDelayed, then:'danger')}{f:if(condition:object.paid, then:'success')}">
															<td>
																	<f:link.action action="edit" arguments="{object:object.invoice}" controller="Standard">
																			{object.invoice.number}
																	</f:link.action>
															</td>
															<td>
																	{object.invoice.deptor}
															</td>
															<td>
																	{object.dueDate -> f:format.date(format: 'd.m.Y')}
															</td>
															<td>
																	{object.comment}
															</td>
															<td class="text-right">
																	{object.amount}
															</td>
															<td class="text-right">
																	<f:if condition="{object.originalResource}">
																			<a href="{f:uri.resource(resource: object.originalResource)}" class="btn btn-success btn-xs">
																					<span class="glyphicon glyphicon-download"></span>
																					Download
																			</a>
																	</f:if>
															</td>
													</tr>
											</f:for>
											</tbody>
									</table>
							</f:widget.paginate>
					</f:then>
					<f:else>
							<p>
									<div class="alert alert-info">
											Keine Fälligkeiten gefunden
									</div>
							</p>
					</f:else>
			</f:if>
	</f:render>
