<html lang="de"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:inv="http://typo3.org/ns/KayStrobach/Invoice/ViewHelpers"
      xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers"
      data-namespace-typo3-fluid="true"
>
    <head>
        <title>
            Rechnung {invoice.number}
        </title>
        <style type="text/css">
            {inv:fileContent(file:'resource://KayStrobach.Invoice/Public/Css/Pdf/index.css')}
        </style>
    </head>
    <body>
        <f:render section="Content" optional="1"/>
        <htmlpagefooter name="Footer">
            <f:if condition="{f:render(section:'footer', optional:true)}">
                <f:then>
                    <f:render section="footer" optional="1" />
                </f:then>
                <f:else>
                    <div style="text-align:center;">
                        <small>Seite {PAGENO} von {nbpg}</small>
                    </div>
                </f:else>
            </f:if>
        </htmlpagefooter>
    </body>
</html>
