<div class="row">
    <div class="col-sm-6">
        <f:render partial="Tools/Components/Panel" arguments="{heading:'Debitor'}" contentAs="body">
            <f:render partial="Form/Textarea" arguments="{label:'Adresse', property:'address', noEdit:object.notChangeable}"/>
            <f:render partial="Form/Text" arguments="{label:'E-Mail', property:'email', noEdit:object.notChangeable}"/>
            <f:render partial="Form/Textarea" arguments="{label:'Debitor', property:'deptor', noEdit:object.notChangeable}"/>
            <f:render partial="Form/Text" arguments="{label:'Debitorennummer', property:'deptorNumber', noEdit:object.notChangeable}"/>
        </f:render>
    </div>
    <div class="col-sm-6">
        <f:render partial="Tools/Components/Panel" arguments="{heading:'Informationen'}" contentAs="body">
            <f:render partial="Form/Text" arguments="{label:'Titel', property:'title', noEdit:object.notChangeable}"/>
            <f:render partial="Form/Textarea" arguments="{label:'Zusatzinformationen', property:'additionalInformation', noEdit:object.notChangeable}"/>
        </f:render>
    </div>
</div>

<f:render partial="Tools/Components/Panel" arguments="{heading:'Positionen', object:object}" contentAs="direct">
    <div class="panel-body">
        <f:render partial="Form/Textarea" arguments="{label:'Text vor der Produktliste', property:'preText', noEdit:object.notChangeable}"/>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Pos
                </th>
                <th>
                    Artikel / Beschreibung
                </th>
                <th class="text-right">
                    Menge
                </th>
                <th>
                    Einheit
                </th>
                <th class="text-right">
                    Steuer
                </th>
                <th class="text-right">
                    Einzelpreis
                </th>
                <th>
                    <f:if condition="!{object.notChangeable}">
                        <f:form.button class="btn btn-success btn-xs pull-right" formaction="{f:uri.action(action: 'addInvoiceItem')}"><span class="glyphicon glyphicon-plus"></span></f:form.button>
                    </f:if>
                </th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{object.invoiceItems}" as="invoiceItem" iteration="iteration">
                <tr class="{f:if(condition: iteration.isOdd, then:'active')}">
                    <td>
                        <div class="form-control">
                            {iteration.cycle}
                        </div>
                    </td>
                    <td>
                        <f:render partial="Form/Text" arguments="{property:'invoiceItems.{iteration.index}.name', decimals:0, noEdit:object.notChangeable}"/>
                    </td>
                    <td>
                        <f:render partial="Form/Number" arguments="{property:'invoiceItems.{iteration.index}.amount', decimals:0, noEdit:object.notChangeable}"/>
                    </td>
                    <td>
                        <f:render partial="Form/Text" arguments="{property:'invoiceItems.{iteration.index}.unit', decimals:0, noEdit:object.notChangeable}"/>
                    </td>
                    <td>
                        <f:render partial="Form/Number" arguments="{property:'invoiceItems.{iteration.index}.tax', decimals:2, noEdit:object.notChangeable}"/>
                    </td>
                    <td>
                        <f:render partial="Form/Number" arguments="{property:'invoiceItems.{iteration.index}.singlePrice', decimals:2, noEdit:object.notChangeable}"/>
                    </td>
                    <td>
                        <f:if condition="!{object.notChangeable}">
                            <f:form.button class="btn btn-danger btn-xs pull-right" data="{confirm:1}" formaction="{f:uri.action(action: 'removeInvoiceItem', arguments: {item:invoiceItem}), noEdit:object.notChangeable}"><span class="glyphicon glyphicon-minus"></span></f:form.button>
                        </f:if>
                    </td>
                </tr>
                <tr class="{f:if(condition: iteration.isOdd, then:'active')}">
                    <td style="border-top: none;">
                        &nbsp;
                    </td>
                    <td colspan="5" style="border-top: none;">
                        <f:render partial="Form/Textarea" arguments="{property:'invoiceItems.{iteration.index}.description', decimals:0, noEdit:object.notChangeable}"/>
                    </td>
                    <td style="border-top: none;">
                        &nbsp;
                    </td>
                </tr>
            </f:for>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-right">
                    Netto
                </td>
                <td class="text-right">
                    {object.totalNoTaxes -> f:format.number(decimals: 2, decimalSeparator: ',', thousandsSeparator: ',')}
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <f:if condition="{object.taxRecords}">
                <f:for each="{object.taxRecords}" as="taxRecord" iteration="iteration">
                    <tr>
                        <td colspan="5" class="text-right">
                            {taxRecord.taxRate -> f:format.number(decimals: 2, decimalSeparator: ',', thousandsSeparator: ',')} % MwSt
                        </td>
                        <td class="text-right">
                            {taxRecord.sum -> f:format.number(decimals: 2, decimalSeparator: ',', thousandsSeparator: ',')}
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </f:for>
            </f:if>
            <tr>
                <th colspan="5" class="text-right">
                    Rechnungssumme
                </th>
                <th class="text-right">
                    {object.total -> f:format.number(decimals: 2, decimalSeparator: ',', thousandsSeparator: ',')}
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </tfoot>
    </table>

    <div class="panel-body">
        <f:render partial="Form/Textarea" arguments="{label:'Text nach der Produktliste', property:'postText', noEdit:object.notChangeable}"/>
    </div>
</f:render>

<f:render partial="Tools/Components/Panel" arguments="{heading:'Leistungszeitraum'}" contentAs="body">
    <div class="row">
        <div class="col-sm-6">
            <f:render partial="Form/Textarea" arguments="{label:'Leistungszeitraum', property:'periodOfPerformanceComment', noEdit:object.notChangeable}"/>
        </div>
        <div class="col-sm-6">
            <f:render partial="Form/DateTime" arguments="{label: 'Start', property:'periodOfPerformanceStart', noEdit:object.notChangeable}" />
            <f:render partial="Form/DateTime" arguments="{label: 'Ende', property:'periodOfPerformanceEnd', noEdit:object.notChangeable}" />
        </div>
    </div>
</f:render>

<f:render partial="Tools/Components/Panel" arguments="{heading:'Zusatzinformationen'}" contentAs="body">
    <f:render partial="Form/Textarea" arguments="{label:'Freitext', property:'additionalText', noEdit:object.notChangeable}"/>
</f:render>

<f:if condition="{object.changeable}">
    <f:form.hidden property="changeable" />
    <f:form.hidden property="numberPrefix" />
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <f:render partial="Tools/Form/Button" arguments="{_all}"/>
        </div>
        <div class="col-sm-4 text-right">
            <f:form.button type="submit" formaction="{f:uri.action(action: 'finalize')}" class="btn btn-success">
                Rechnung festschreiben
                <span class="glyphicon glyphicon-chevron-right"></span>
            </f:form.button>
        </div>
    </div>
</f:if>
