{namespace bs=KayStrobach\Bootstrap\ViewHelpers}

<f:variable name="label">{f:translate(id:labelId, value:label)}</f:variable>
<f:variable name="hint">{f:translate(id:hintId, value:hint)}</f:variable>
<f:variable name="errorClass">{f:validation.ifHasErrors(for: '{bs:form.fieldNamePrefix(fieldName: property)}', then: 'is-invalid')}</f:variable>

<div class="form-group mb-3">
    <f:if condition="{label}">
        <label class="form-label">{label}</label>
    </f:if>

    <f:render partial="Form/Wrapper/InputGroup" arguments="{_all}" contentAs="content">
        <f:if condition="{noEdit}">
            <f:then>
                <fucodo-form-vatid>
                    <f:form.textfield name="_disabled_{property}"
                                      value="{bs:form.fieldValue(fieldName: property)}"
                                      class="form-control {errorClass} {cssClassField}"
                                      placeholder="{placeholder}"
                                      disabled="disabled"
                                      readonly="readonly"
                                      additionalAttributes="{slot:'value'}"
                    />
                </fucodo-form-vatid>
            </f:then>
            <f:else>
                <fucodo-form-vatid>
                    <f:form.textfield property="{property}"
                                      class="form-control {errorClass} {cssClassField}"
                                      placeholder="{placeholder}"
                                      additionalAttributes="{list:'_datalist_{property}', slot:'value'}"
                                      data="{data}"
                    />
                </fucodo-form-vatid>
                <f:if condition="{datalist}">
                    <datalist id="_datalist_{property}">
                        <f:for each="{datalist}" as="item">
                            <option value="{item}"></option>
                        </f:for>
                    </datalist>
                </f:if>
            </f:else>
        </f:if>
    </f:render>

    <f:render partial="Form/Validation/ValidationMessagesForField" arguments="{property:property, hint:hint}"/>
</div>
