<html lang="de" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
			xmlns:custom="http://typo3.org/ns/KayStrobach/Custom/ViewHelpers"
			xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers"
			xmlns:b="http://typo3.org/ns/KayStrobach/Backend/ViewHelpers"
			xmlns:cb="http://typo3.org/ns/FourViewture/KIS/CRM/Backend/ViewHelpers"
			xmlns:search="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<b:be.setTitle>Importieren</b:be.setTitle>

<b:be.button.closeButton action="index" controller="Standard"/>

<f:form action="review" object="{dto}" objectName="dto" method="post" enctype="multipart/form-data">
		<f:render partial="Components/Panel" arguments="{heading:'Datei hochladen'}" contentAs="body">
				<f:render partial="Form/Upload" arguments="{property:'originalResource', label:'Datev Datei', hint:'DTVF_Buchungsstapel*.csv'}"/>
				<f:form.button class="btn btn-success pull-right">
				Hochladen und prüfen
		</f:form.button>
		</f:render>
</f:form>
