<f:layout name="Default" />

<f:section name="Title">Überprüfen</f:section>

<f:section name="NavigationBar">
    <ul class="nav navbar-nav">
        <li>
            <f:link.action action="index" controller="Standard">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Rechnungsjournal
            </f:link.action>
        </li>
    </ul>
</f:section>

<f:section name="Content">
    <f:if condition="{dto.accountingRecords}">
        <f:then>
            <f:form action="import" object="{dto}" objectName="dto" method="post">
                <f:comment>
                    <f:form.hidden property="originalResource" />
                </f:comment>
                <f:for each="{dto.accountingRecords}" as="ar" iteration="iteration">
                    <f:form.hidden property="accountingRecords.{iteration.index}" value="{ar}"/>
                </f:for>
                <f:render partial="Components/Panel" arguments="{heading:'Vorschau'}" contentAs="direct">
                    <f:render partial="Domain/Model/AccountingRecordTable" arguments="{objects:dto.accountingRecords}" />
                    <div class="panel-footer text-right">
                        <f:form.button type="submit" class="btn btn-success">
                            speichern
                        </f:form.button>
                    </div>
                </f:render>
            </f:form>
        </f:then>
        <f:else>
            <div class="alert alert-danger">
                Es wurden keine passenden Buchungen gefunden.
            </div>
        </f:else>
    </f:if>

</f:section>
