<f:layout name="Default" />

<f:section name="Title">Buchungssätze</f:section>

<f:section name="NavigationBar">
    <ul class="nav navbar-nav">
        <li>
            <f:link.action action="index" controller="Standard">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Rechnungsjournal
            </f:link.action>
        </li>
        <li>
            <f:link.action action="index" format="csv">
                <span class="glyphicon glyphicon-download"></span>
                Herunterladen (csv)
            </f:link.action>
        </li>
        <li>
            <f:link.action action="index" format="xlsx">
                <span class="glyphicon glyphicon-download"></span>
                Herunterladen (xlsx)
            </f:link.action>
        </li>
    </ul>
</f:section>

<f:section name="Content">
    <f:render partial="Visualsearch/Search" arguments="{searchName:'KayStrobach_Invoice_AccountingRecord', objects:objects}" contentAs="value">
        <f:widget.paginate objects="{objects}" as="paginatedObjects" configuration="{itemsPerPage: 20, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 15}">
            <small class="pull-right">{objects -> f:count()} Einträge</small>
            <f:render partial="Domain/Model/AccountingRecordTable" arguments="{_all}" />
        </f:widget.paginate>
    </f:render>
</f:section>
