<html lang="de" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
			xmlns:custom="http://typo3.org/ns/KayStrobach/Custom/ViewHelpers"
			xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers"
			xmlns:b="http://typo3.org/ns/KayStrobach/Backend/ViewHelpers"
			xmlns:i="http://typo3.org/ns/KayStrobach/IconRegistry/ViewHelpers"
			xmlns:cb="http://typo3.org/ns/FourViewture/KIS/CRM/Backend/ViewHelpers"
			xmlns:search="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<b:be.setTitle>Rechnung {object.number}</b:be.setTitle>
<b:be.setTitleInfo raw="1">
    <small><span title="{object.customer.name} ({object.customer.deptorNumber})"><f:format.crop maxCharacters="50">{object.customer.name}</f:format.crop> ({object.customer.deptorNumber})</span></small>
    <br>
    <f:if condition="{object.periodOfPerformance.start}">
        <small>Leistungszeitraum {object.periodOfPerformance.start -> f:format.date(format: 'd.m.Y')}<f:if condition="{object.periodOfPerformance.end}"> - {object.periodOfPerformance.end -> f:format.date(format: 'd.m.Y')}</f:if></small>
    </f:if>
</b:be.setTitleInfo>


<b:be.button.closeButton />

<f:if condition="{object.changeable}">
    <div class="mb-3">
        <b:be.button.addCustomButton label="Vorschau" position="100">
            <fucodo-class-toggle target="body" toggle-class="module-edit-mode">
                <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPreview" aria-controls="offcanvasPreview">
                    <i:icon name="bootstrap-1-circle" />
                    <f:translate>Vorschau</f:translate>
                </button>
            </fucodo-class-toggle>
        </b:be.button.addCustomButton>

        <b:be.button.addButton label="Prüfen" icon="bootstrap-2-circle" action="checkInvoice" arguments="{object:object}" type="submit" position="200"/>

        <b:be.button.addCustomButton label="Festschreiben overlay" position="300">
            <fucodo-class-toggle target="body" toggle-class="module-edit-mode">
                <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFinalize" aria-controls="offcanvasFinalize">
                    <i:icon name="bootstrap-3-circle" />
                    <f:translate>Festschreiben</f:translate>
                </button>
            </fucodo-class-toggle>
        </b:be.button.addCustomButton>

        <b:be.button.removeButton arguments="{object:object}" action="remove"/>
    </div>
</f:if>

<f:if condition="{object.stornoInvoice}">
	<b:be.button.addButton action="edit" arguments="{object:object.stornoInvoice}"
												 icon="bootstrap-ban-circle"
												 label="Stornorechnung: {object.stornoInvoice.numberComplete}"
	/>
</f:if>
<f:if condition="{object.originalInvoice}">
	<b:be.button.addButton action="edit" arguments="{object:object.originalInvoice}"
												 icon="bootstrap-ok-circle"
												 label="Rechnung: {object.originalInvoice.numberComplete}"
	/>
</f:if>

<f:if condition="{object.deliveryAuditInformation}">
		<div class="alert alert-success">
				{object.deliveryAuditInformation}
		</div>
</f:if>



<f:if condition="!{object.changeable}">
		<div class="alert alert-danger">
				Die Rechnung kann nicht mehr bearbeitet werden.
		</div>

		<f:form action="update" enctype="multipart/form-data" object="{object}" objectName="object">
				<f:render partial="Domain/Model/SettlementDates" arguments="{_all}"/>
				<f:render partial="Domain/Model/BankTransferdocuments" arguments="{_all}"/>
		</f:form>

		<f:if condition="{object.accountingRecords}">
				<f:render partial="Components/Panel" arguments="{heading:'Buchungssätze', object:object}" contentAs="direct">
						<f:render partial="Domain/Model/AccountingRecordTable" arguments="{objects:object.accountingRecords}" />
				</f:render>
		</f:if>

		<f:if condition="{object.originalResource}">
				<f:render partial="Components/Panel" arguments="{heading:'Vorschau'}" contentAs="direct">
						<iframe class="iframe" style="width:100%; height: 600px;" src="{f:uri.resource(resource: object.originalResource)}"></iframe>
				</f:render>
		</f:if>
</f:if>

<f:form action="update" enctype="multipart/form-data" object="{object}" objectName="object" id="globalForm">
    <f:render partial="Domain/Model/Invoice/Fields" arguments="{_all}"/>
</f:form>

<f:render section="offcanvas-preview" arguments="{_all}"/>
<f:render section="offcanvas-finalize" arguments="{_all}"/>

<f:section name="offcanvas-preview">
	<div class="offcanvas w-75 offcanvas-end" data-bs-backdrop="static"  tabindex="-1" id="offcanvasPreview" aria-labelledby="offcanvasRightLabel" data-bs-scroll="true">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasRightLabel">
				<f:translate>Vorschau</f:translate>
			</h5>
			<fucodo-class-toggle target="body" toggle-class="module-edit-mode" class="btn-close" style="display: contents;">
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</fucodo-class-toggle>
		</div>
		<div class="offcanvas-body">
			<fucodo-lazy-load url="{f:uri.action(action: 'renderInvoice', arguments: {object:object})}" selectors="main .invoice">
				<span>Lade Entwurf</span>
			</fucodo-lazy-load>
		</div>
	</div>
</f:section>

<f:section name="offcanvas-finalize">
    <div class="offcanvas w-75 offcanvas-end" data-bs-backdrop="static"  tabindex="-1" id="offcanvasFinalize" aria-labelledby="offcanvasRightLabel" data-bs-scroll="true">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">
                <f:translate>Finalisieren</f:translate>
            </h5>
            <fucodo-class-toggle target="body" toggle-class="module-edit-mode" class="btn-close" style="display: contents;">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </fucodo-class-toggle>
        </div>
        <div class="offcanvas-body">
            <fucodo-lazy-load url="{f:uri.action(action: 'renderFinalize', arguments: {object:object})}" selectors="main .invoice">
                <span>Lade Entwurf</span>
            </fucodo-lazy-load>
        </div>
    </div>
</f:section>
