<html lang="de" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
			xmlns:custom="http://typo3.org/ns/KayStrobach/Custom/ViewHelpers"
			xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers"
			xmlns:b="http://typo3.org/ns/KayStrobach/Backend/ViewHelpers"
			xmlns:cb="http://typo3.org/ns/FourViewture/KIS/CRM/Backend/ViewHelpers"
			xmlns:search="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<b:be.setTitle>Rechnungen anlegen</b:be.setTitle>

<b:be.button.closeButton action="index" />

<f:form action="create" enctype="multipart/form-data" object="{object}" objectName="object" class="form-horizontal">
		<f:render partial="Domain/Model/InvoiceFields" arguments="{object:object}"/>
</f:form>
