<html lang="de" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
      xmlns:custom="http://typo3.org/ns/KayStrobach/Custom/ViewHelpers"
      xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers"
      xmlns:b="http://typo3.org/ns/KayStrobach/Backend/ViewHelpers"
      xmlns:i="http://typo3.org/ns/KayStrobach/IconRegistry/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/FourViewture/KIS/CRM/Backend/ViewHelpers"
      xmlns:search="http://typo3.org/ns/KayStrobach/VisualSearch/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<b:be.setTitle>Rechnung {object.numberPrefix}</b:be.setTitle>

<main class="invoice">
    <f:if condition="{isValid}">
        <f:then>
            <f:render section="finalize" arguments="{_all}"/>
        </f:then>
        <f:else>
            <div class="alert alert-danger d-flex justify-content-between">
                <div>
                    Es gibt ein Problem mit der Rechnung, die bitte mit der Prüfen Funktion prüfen
                </div>
                <f:form.button form="globalForm" formaction="{f:uri.action(action: 'checkInvoice')}" class="btn btn-danger">
                    <i:icon name="bootstrap-2-circle" />
                    Prüfen
                </f:form.button>
            </div>
        </f:else>
    </f:if>
</main>

<f:section name="finalize">
    <div class="alert alert-success d-flex justify-content-between">
        <div>
            Die Rechnung kann festgeschrieben werden.
            <ul>
                <li>Nach dem Festschreiben kann diese nicht mehr verändert werden.</li>
                <li>Korrekturen sind nur noch mit einer Korrekturrechnung möglich</li>
            </ul>
        </div>
        <f:form.button form="globalForm" formaction="{f:uri.action(action: 'finalize')}" class="btn btn-success">
            <i:icon name="bootstrap-3-circle" />
            Rechnung Festschreiben
        </f:form.button>
    </div>
    <iframe src="{f:uri.action(action: 'renderInvoice', arguments: {object:object}, format:'pdf')}" style="width: 100%; height: calc(100% - 5rem);"></iframe>
</f:section>
